# Certified classics
tqdm
numpy
matplotlib
pandas
torch
plotly
seaborn
scikit-learn

# HuggingFace Transformers
transformers
einops
accelerate
# xformers
# peft
# auto-gptq

# Datasets
datasets
jsonlines

# Testing 
coverage

# Streamlit
streamlit

